In [11]:
import pandas as pd

In [12]:
data = pd.read_excel(r'C:\Users\KAWALJEET\Downloads\SampleSuperstorei.xlsx')

In [13]:
data.head

<bound method NDFrame.head of           Ship Mode    Segment        Country             City       State  \
0      Second Class   Consumer  United States        Henderson    Kentucky
1      Second Class   Consumer  United States        Henderson    Kentucky
2    Standard Class   Consumer  United States  Fort Lauderdale     Florida
3    Standard Class   Consumer  United States      Los Angeles  California
4    Standard Class   Consumer  United States      Los Angeles  California
..              ...        ...            ...              ...         ...
244        Same Day  Corporate  United States    Coral Springs     Florida
245        Same Day  Corporate  United States    Coral Springs     Florida
246  Standard Class   Consumer  United States          Houston       Texas
247  Standard Class  Corporate  United States           Denver    Colorado
248  Standard Class  Corporate  United States           Denver    Colorado

     Postal Code   Region   Category  Bookcases  Chairs  Tables  Furnishings  \
0          42420    South  Furniture          1       0       0            0
1          42420    South  Furniture          0       1       0            0
2          33311    South  Furniture          0       0       1            0
3          90032     West  Furniture          0       0       0            1
4          90032     West  Furniture          0       0       1            0
..           ...      ...        ...        ...     ...     ...          ...
244        33065    South  Furniture          0       0       0            1
245        33065    South  Furniture          0       0       0            1
246        77041  Central  Furniture          0       1       0            0
247        80219     West  Furniture          0       1       0            0
248        80219     West  Furniture          0       1       0            0

         Sales  Quantity  Discount    Profit
0     261.9600         2         0   41.9136
1     731.9400         3         0  219.5820
2     957.5775         5        45 -383.0310
3      48.8600         7         0   14.1694
4    1706.1840         9        20   85.3092
..         ...       ...       ...       ...
244    15.7120         4        20    2.5532
245    55.9680         1        20   -2.0988
246    95.9840         4        30   -4.1136
247   544.0080         3        20   40.8006
248   854.3520         3        20   10.6794

[249 rows x 16 columns]>

In [4]:
data.describe()

,Postal Code,Bookcases,Chairs,Tables,Furnishings,Sales,Quantity,Discount,Profit
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000
mean,52844.779116,0.092369,0.285141,0.164659,0.457831,391.117068,3.899598,16.959839,1.483102
std,31294.697804,0.290130,0.452391,0.371619,0.499222,490.115006,2.444950,17.574679,172.709041
min,1841.000000,0.000000,0.000000,0.000000,0.000000,2.328000,1.000000,0.000000,-1665.052200
25%,22153.000000,0.000000,0.000000,0.000000,0.000000,53.340000,2.000000,0.000000,-8.579400
50%,48227.000000,0.000000,0.000000,0.000000,0.000000,207.846000,3.000000,20.000000,10.909600
75%,84057.000000,0.000000,1.000000,0.000000,1.000000,542.646000,5.000000,20.000000,40.542600
max,98661.000000,1.000000,1.000000,1.000000,1.000000,3083.430000,14.000000,60.000000,585.552000

In [14]:
predictors = ['Chairs', 'Tables', 'Bookcases', 'Furnishings','Discount','Sales','Quantity']
outcome = 'Profit'

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import statsmodels.formula.api as sm
import matplotlib.pylab as plt

from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

In [16]:
X = pd.get_dummies(data[predictors], drop_first=True)
y = data[outcome]
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=1)

data_lm = LinearRegression()
data_lm.fit(train_X, train_y)

LinearRegression()

In [8]:
train_X

     Chairs  Tables  Bookcases  Furnishings  Discount     Sales  Quantity
59        0       0          0            1         0     5.280         3
88        1       0          0            0        20   383.800         5
239       0       1          0            0         0   455.100         2
199       1       0          0            0        20   321.568         2
207       0       1          0            0        40  1090.782         7
..      ...     ...        ...          ...       ...       ...       ...
137       0       0          0            1         0    14.800         4
72        1       0          0            0        10   135.882         1
140       0       0          0            1        20    30.360         5
235       0       1          0            0         0   343.920         4
37        1       0          0            0        30  1740.060         9

[174 rows x 7 columns]

In [9]:
print('intercept ', data_lm.intercept_)
print(pd.DataFrame({'Predictor': X.columns, 'coefficient': data_lm.coef_}))

intercept  141.5903479199593
     Predictor  coefficient
0       Chairs    58.544924
1       Tables    19.061547
2    Bookcases   -43.172106
3  Furnishings   -34.434366
4     Discount    -5.577837
5        Sales    -0.108252
6     Quantity    -1.051829

In [11]:
regressionSummary(train_y, data_lm.predict(train_X))

Regression statistics

               Mean Error (ME) : -0.0000
Root Mean Squared Error (RMSE) : 150.9421
     Mean Absolute Error (MAE) : 91.3752

In [18]:
pred_y = data_lm.predict(train_X)

print('adjusted r2 : ', adjusted_r2_score(train_y, pred_y, data_lm))
print('AIC : ', AIC_score(train_y, pred_y, data_lm))
print('BIC : ', BIC_score(train_y, pred_y, data_lm))

adjusted r2 :  0.35379960004684197
AIC :  2257.6705344370075
BIC :  2286.1020321299384

In [23]:
data_lm_pred = data_lm.predict(test_X)

result = pd.DataFrame({'Predicted': data_lm_pred, 'Actual': test_y,
                       'Residual': test_y - data_lm_pred})
print(result.head(25))

# Compute common accuracy measures
regressionSummary(test_y, data_lm_pred)

      Predicted    Actual    Residual
67   102.151162   12.8640  -89.287162
248   -7.062554   10.6794   17.741954
211  103.541122    6.7008  -96.840322
161 -136.066127 -167.3184  -31.252273
91   101.977958   11.0760  -90.901958
223   93.317770   22.7640  -70.553770
58  -238.293986   -8.4924  229.801586
233   98.770126   11.5800  -87.190126
180  100.239425   14.6718  -85.567625
4   -145.069717   85.3092  230.378917
241   93.200858   33.9388  -59.262058
188  101.022788   19.2454  -81.777388
116   98.810878    2.3970  -96.413878
182   69.079371   64.5180   -4.561371
127   63.260562   91.7728   28.512238
78    93.640501   20.7328  -72.907701
184   98.497714   10.0480  -88.449714
51   -35.493135    0.0000   35.493135
27    98.908305   18.3456  -80.562705
73    -7.183749    0.9995    8.183249
224   19.029947  -29.2524  -48.282347
34   -18.771660   12.9096   31.681260
95   105.789139    1.3677 -104.421439
186  -52.326034   12.1176   64.443634
120   -9.187716    6.0382   15.225916

Regression statistics

               Mean Error (ME) : 2.8345
Root Mean Squared Error (RMSE) : 134.4654
     Mean Absolute Error (MAE) : 87.0681

In [24]:
def train_model(variables):
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    pred_y = model.predict(train_X[variables])
    # we negate as score is optimized to be as low as possible
    return -adjusted_r2_score(train_y, pred_y, model)

allVariables = train_X.columns
results = exhaustive_search(allVariables, train_model, score_model)

data = []
for result in results:
    model = result['model']
    variables = result['variables']
    AIC = AIC_score(train_y, model.predict(train_X[variables]), model)
    
    d = {'n': result['n'], 'r2adj': -result['score'], 'AIC': AIC}
    d.update({var: var in result['variables'] for var in allVariables})
    data.append(d)
pd.set_option('display.width', 100)
print(pd.DataFrame(data, columns=('n', 'r2adj', 'AIC') + tuple(sorted(allVariables))))
pd.reset_option('display.width')

   n     r2adj          AIC  Bookcases  Chairs  Discount  Furnishings  Quantity  Sales  Tables
0  1  0.283309  2269.863759      False   False      True        False     False  False   False
1  2  0.327893  2259.673799      False   False      True        False     False   True   False
2  3  0.358968  2252.416322      False    True      True        False     False   True   False
3  4  0.365045  2251.732375      False    True      True        False     False   True    True
4  5  0.361362  2253.705986      False    True      True        False      True   True    True
5  6  0.357669  2255.670534       True   False      True         True      True   True    True
6  7  0.353800  2257.670534       True    True      True         True      True   True    True

In [25]:
def train_model(variables):
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    return AIC_score(train_y, model.predict(train_X[variables]), model)

best_model, best_variables = backward_elimination(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Chairs, Tables, Bookcases, Furnishings, Discount, Sales, Quantity
Start: score=2257.67
Step: score=2255.67, remove Chairs
Step: score=2253.71, remove Quantity
Step: score=2252.99, remove Tables
Step: score=2252.99, remove None
['Bookcases', 'Furnishings', 'Discount', 'Sales']

In [27]:
regressionSummary(test_y, best_model.predict(test_X[best_variables]))

Regression statistics

               Mean Error (ME) : 3.7241
Root Mean Squared Error (RMSE) : 136.2780
     Mean Absolute Error (MAE) : 90.1959

In [28]:
def train_model(variables):
    if len(variables) == 0:
        return None
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    if len(variables) == 0:
        return AIC_score(train_y, [train_y.mean()] * len(train_y), model, df=1)
    return AIC_score(train_y, model.predict(train_X[variables]), model)

best_model, best_variables = forward_selection(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Chairs, Tables, Bookcases, Furnishings, Discount, Sales, Quantity
Start: score=2326.83, constant
Step: score=2269.86, add Discount
Step: score=2259.67, add Sales
Step: score=2252.42, add Chairs
Step: score=2251.73, add Tables
Step: score=2251.73, add None
['Discount', 'Sales', 'Chairs', 'Tables']

In [29]:
best_model, best_variables = stepwise_selection(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Chairs, Tables, Bookcases, Furnishings, Discount, Sales, Quantity
Start: score=2326.83, constant
Step: score=2269.86, add Discount
Step: score=2259.67, add Sales
Step: score=2252.42, add Chairs
Step: score=2251.73, add Tables
Step: score=2251.73, unchanged None
['Discount', 'Sales', 'Chairs', 'Tables']